{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "promise"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/first": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-webpack-loader-syntax": 0
  },
  "globals": {
    "__API_HOST__": true,
    "__API_VERSION__": true
  }
}